@model IEnumerable<CustomMVC.Models.GoodType>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Measurement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountOfFee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Measurement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfFee)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


